@import "../../styles/variables.scss";

.home-about {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 350px;
  padding-top: 19px;
  justify-content: center;
  align-items: center;
  gap: 217.727px;
  margin-top: 245px;
}

.home-about-left {
  max-width: 50%;
  width: 100%;

  color: $port-font-third;
  color: #d9d9d9;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 58px;
  line-height: 1px;
}

.title-secondary {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  color: transparent;
  padding: 20px 0;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home-about-right {
  max-width: 346.971px;
  width: 100%;
  height: 349px;
  flex-shrink: 0;

  border-radius: 230px;
  border: 9px solid #e70faa;

  img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 230px;
  }
}

@media (max-width: 1200px) and (min-width: 330px) {
  .home-about {
    flex-direction: column;
    gap: 10px;
    margin-top: 12rem;
  }
  .home-about-left {
    max-width: 90%;
    text-align: center;
    p {
      font-size: 2.5rem;
    }
  }

  .title-secundary {
    font-size: 2.5rem;
    line-height: 0.3;
  }

  .ocupation {
    line-height: 0.7; /* Ajuste a altura da linha conforme necessário */
  }
}
