$port-font-primary: var(--light-Content, #a7a7a7);
$port-font-two: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);

$port-font-third: #d9d9d9;
$port-font-for: var(--Solid-Heading-Dark-mode, #ccc);
