@import "../../styles/variables.scss";


.about-title {
  color: #ccc;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.4px;
  margin-bottom: 38px;
}

.about-title-primary {
  margin-top: 143px;
}
.about-container {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
}

.about-text {
  color: #a7a7a7;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  width: 95%;
}
